* {
	padding: 0;
	margin: 0;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	color: #BBB;
	background-color: #222;
	background: url("bg.png");
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 2vh;
	text-align: center;
	width: 100%;
	height: 100%;
}

#container {
	max-width: 150vh;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.container_table {
	width: 100%;
	height: 100%;
	display: table;
}

.container_tbody {
	width: 100%;
	height: 100%;
	display: table-row-group;
}

.container_tr {
	width: 100%;
	height: 100%;
	display: table-row;
}

.container_td {
	display: table-cell;
}

#board_container {
	width: 100vh;
	height: 100vh;
	background-color: #999;
	box-shadow: inset 0 0 2vh 0 #000;
	border-radius: 1vh;
}

#msg {
	margin-left: 2vh;
	height: 100%;
	border-radius: 1vh;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 0 2vh 0 #000;
}

#msg_pattern {
	width: calc(100% - 4vh);
	height: calc(100% - 4vh);
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#msg_content {
	width: 100%;
	height: 100%;
}

#msg_hax {
	float: right;
	width: 100%;
	height: 100%;
	text-align: left;
}

#msg_hax p {
	margin: 1em 1em 0 1em;
	border-bottom: 1px solid #BBB;
}

#msg_hax p .msg_data {
	float: right;
	font-weight: bold;
}

@media screen and (min-height: 15cm) {
	#container {
		width: calc(100vw - 10vh);
		height: 90%;
	}
	
	#board_container {
		width: 90vh;
		height: 90vh;
	}
	
	#msg_container {
		height: 90vh;
	}
}

#board_border {
	width: 100%;
	height: 100%;
}

#board_border[data-endpoint-id="1"] {
	transform: rotate(180deg);
}

.board {
	width: 96%;
	height: 96%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.board .field {
	position: absolute;
}

.board .field.choice_valid {
	cursor: pointer;
}

.board .field_pattern {
	pointer-events: none;
	width: 90%;
	height: 90%;
	background: url("bg.png");
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.board .colour_selector[data-colour-id="C1"] .coloured {
	background-color: #D77521;
}

.board .colour_selector[data-colour-id="C2"] .coloured {
	background-color: #006BAC;
}

.board .colour_selector[data-colour-id="C3"] .coloured {
	background-color: #6F3786;
}

.board .colour_selector[data-colour-id="C4"] .coloured {
	background-color: #D2719E;
}

.board .colour_selector[data-colour-id="C5"] .coloured {
	background-color: #E2C201;
}

.board .colour_selector[data-colour-id="C6"] .coloured {
	background-color: #D23238;
}

.board .colour_selector[data-colour-id="C7"] .coloured {
	background-color: #009157;
}

.board .colour_selector[data-colour-id="C8"] .coloured {
	background-color: #774610;
}

.board .colour_selector[data-colour-id="C9"] .coloured {
	background-color: #90886B;
}

.board .colour_selector[data-colour-id="C10"] .coloured {
	background-color: #A2B5C1;
}

.board .field_middle {
	pointer-events: none;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 5vh 0 rgba(0, 0, 0, 0.75);
	opacity: 0.7;
	transition: 0.5s;
}

.board.choice_view .field.choice_invalid .field_middle {
	opacity: 0.2;
}

.board .tower {
	transition: 0.5s;
	position: absolute;
	pointer-events: none;
}

.board .tower[data-player="1"] {
	transform: rotate(180deg);
}

.hidden {
	display: none;
}

.board .tower_middle {
	width: 65%;
	height: 65%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 10%;
	background-color: #000;
	box-shadow: inset 0 0 1vh 0 rgba(255, 255, 255, 0.5);
	transition: 0.5s;
}

.board .tower[data-player="1"] .tower_middle {
	background-color: #EEE;
	box-shadow: inset 0 0 1vh 0 rgba(0, 0, 0, 0.5);
}

.board.choice_view .tower.choice_invalid .tower_middle {
	opacity: 0.8;
}

.board .tower_colour {
	width: 50%;
	height: 50%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 10%;
	transition: 0.5s;
}

.board.choice_view .tower.choice_invalid .tower_colour {
	opacity: 0.8;
}

.board .tower_sumo {
	display: none;
	position: absolute;
	width: 16%;
	height: 16%;
	border-radius: 50%;
	top: 5%;
	background-color: #EEE;
}

.board .tower[data-player="1"] .tower_sumo {
	background-color: #000;
}

.board .tower[data-sumo-status="1"] .tower_sumo[data-sumo-level="1"] {
	left: 42%;
	display: initial;
}

.board .tower[data-sumo-status="2"] .tower_sumo[data-sumo-level="1"] {
	left: 32%;
	display: initial;
}

.board .tower[data-sumo-status="3"] .tower_sumo[data-sumo-level="1"] {
	left: 22%;
	display: initial;
}

.board .tower[data-sumo-status="4"] .tower_sumo[data-sumo-level="1"] {
	left: 12%;
	display: initial;
}

.board .tower[data-sumo-status="2"] .tower_sumo[data-sumo-level="2"] {
	left: 52%;
	display: initial;
}

.board .tower[data-sumo-status="3"] .tower_sumo[data-sumo-level="2"] {
	left: 42%;
	display: initial;
}

.board .tower[data-sumo-status="4"] .tower_sumo[data-sumo-level="2"] {
	left: 32%;
	display: initial;
}

.board .tower[data-sumo-status="3"] .tower_sumo[data-sumo-level="3"] {
	left: 62%;
	display: initial;
}

.board .tower[data-sumo-status="4"] .tower_sumo[data-sumo-level="3"] {
	left: 52%;
	display: initial;
}

.board .tower[data-sumo-status="4"] .tower_sumo[data-sumo-level="4"] {
	left: 72%;
	display: initial;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	margin: 0 0 0.5em 0;
}

h2 {
	margin: 1em 0 0 0;
}

p {
	margin: 0.5em 0 0 0;
}

input {
	margin-right: 1em;
}

.start_td {
	text-align: left;
	width: 50%;
}

#start_container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 20em;
}

#start_container td {
	width: 50%;
}

#start_container p {
	font-weight: bold;
}

#start_container select {
	width: 100%;
	background: #BBB;
	color: #444;
	font-size: 1em;
	font-weight: bold;
	padding: 0.2em;
}

#start {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 1vh;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 0 2vh 0 #000;
	padding: 3vh;
	width: 30em;
}

p#msg_home {
	position: absolute;
	bottom: 0;
	margin: 0 0 0.5em 0;
	width: 100%;
	border-bottom: none;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#msg_hax .msg_qr {
	cursor: pointer;
}

#qr_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background: #222;
	z-index: 1;
}

#qr_middle {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

body.show_qr #qr_overlay {
	display: initial;
}

#qr_container {
	width: 80vh;
	height: 80vh;
	z-index: 1;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#qr_close {
	cursor: pointer;
}

/*
#qr_overlay p {
	font-size: 3em;
	font-weight: bold;
}
*/

#qr_overlay img {
	width: 100%;
	height: 100%;
}

